html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1REM = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    margin: 3.2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.contenedor {
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

img {
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
    margin-left: 11%;
}

/* Header y Navegacion */

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #2988E0;
}

.contenedor-navegacion {
    border-top: .1rem solid #C1C1C1;
}

.baner {
    background-image: url('../img/banner-nosotros.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Body */

/* nuestra historia */

.nav-principal {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-nav-secundario {
    margin-top: 2.3rem;
    background: #EFEFEF;
    box-shadow: 0 0.1rem 0.7rem -0.1rem #000000;
}

.nav-secundario {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nuestra-historia-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.title-nuestra-historia {
    grid-column: 1/3;
    margin-top: 5rem;
    text-align: center;
}

.img-nuestra-historia {
    grid-column: 1/2;
    background-image: url('../img/nuestra-historia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 44rem;
}

.parrafo-nuestra-historia {
    grid-column: 2/3;
    margin: 0 4.1rem 0 5.5rem;
    font-size: 1.6rem;
    height: 44rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.parrafo-nuestra-historia:hover {
    overflow: visible;
}

/* mision, vision y valores */

.mision-vision-valores-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 5rem;
}

.mision-vision-valores-grid h2 {
    color: #2988E0;
}

.contenedor-mision {
    height: 40rem;
    background-color: #EFEFEF;
    border-top: #2988E0 solid 1.5rem;
    margin-left: 5rem;
    text-align: center;
    display: grid;
    align-content: center;
}

.contenedor-vision {
    height: 40rem;
    background-color: #EFEFEF;
    border-top: #2988E0 solid 1.5rem;
    text-align: center;
    display: grid;
    align-content: center;
}

.contenedor-valores {
    height: 40rem;
    background-color: #EFEFEF;
    border-top: #2988E0 solid 1.5rem;
    margin-right: 5rem;
    text-align: center;
    display: grid;
    align-content: center;
}

/* nuestro equipo */

.nuestro-equipo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30rem);
    margin-top: 5rem;
    row-gap: 4.2rem;
    column-gap: 6.3rem;
}

.contenido-nuestro-equipo {
    grid-column: 2/2;
    grid-row: 1/4;
    background-color: #7ABBF6;
    text-align: center;
    display: grid;
    align-content: center;
    margin-right: 5rem;
    color: white;
}

.img1-nuestro-equipo {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../img/nuestro-equipo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 5rem;

}

.img2-nuestro-equipo {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../img/nuestro-equipo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 5rem;
}

.img3-nuestro-equipo {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../img/nuestro-equipo-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 5rem;
}

/* Footer */

.site-footer {
    border-top: 1px solid #C1C1C1;
    margin-top: 3rem;
    padding-top: 3rem;
}

.site-footer h3 {
    margin-bottom: .5rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #828282;
}

.copyright {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #828282;
}

/* tienda page */

.body-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu-filtros {
    background-color: #F6F6F6;
}

.nav-categorias {
    height: 35rem;
    display: flex;
}

.nav-categorias li {
    margin-top: 5rem;
}

.nav-filtros {
    border-top: #2988E0 2px solid;
}

.nav-filtros ul {
    margin-left: 0px;
    margin-right: 0px;
}

.li-ocultar-filtros {
    margin-top: 6.5rem;
}

.buscar-producto {
    height: 5rem;
    width: 64.5rem;
    outline: none;
    font-size: 1.6rem;
    border-radius: 1rem;
    border: #000000 0.2rem solid;
    background: url(../img/icon-buscar.png) no-repeat;
    background-size: 3.2rem;
    background-position: 98%;
}

.img-carrito {
    height: 6.8rem;
    background-image: url(../img/icon-carrito.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.carrucel {
    width: 90rem;
    height: 47rem;
    overflow: hidden;
}

.carrucel ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 360rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.carrucel li {
    width: 100%;
    list-style: none;
    margin: 0 0 0 0;
    display: flex;
}

.carrucel img {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {

    .carrucel,
    .carrucel ul,
    .carrucel img {
        height: 100vh;
    }
}

.texto-producto {
    color: #000000;
    text-align: center;
    padding: 2rem;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
}

.texto-producto .precio {
    font-size: 2.5rem;
    font-weight: 900;
}

.tienda-grid{
    display: grid;
    grid-template-rows: repeat(5);
    grid-template-columns: repeat(2, 50%);
}

.buscador-carrito{
    grid-column: 1/3;
}

.carrucel{
    grid-column: 1/3;
}

.producto-1, .producto-3, .producto-5{
    grid-column: 1/2;
}

.producto-1, .producto3, .producto-5{
    margin-left: 4rem;
}

.producto-1, .producto-2{
    margin-top: 5rem;
}

.img-producto{
    height: 43rem;
    width: 90%;
    object-fit: cover;
}

.producto-2, .prodcuto-4, .producto-6{
    grid-column: 2/3;
}